.btn {
	background-color: #00BFFF;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.menu {
	position: fixed;
	right: 1%;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 1%;
	background-color: #00BFFF;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #7FFFD4;
}

.menu:hover .dropdown-content {
	display: block;
}

.menu:hover .btn {
	background-color: #00BFFF;
}

table {
	border-collapse: collapse;
	border: 2px solid rgb(200,200,200);
	letter-spacing: 1px;
	font-family: sans-serif;
	font-size: .8rem;
	visibility: hidden;
	background-color: white;
}

#team2, #team1 {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}

#team2{
	top: 400px;
}

#team1{
	top: 80px;
}

td, th {
	border: 1px solid rgb(190,190,190);
	padding: 10px;
}


td {
	text-align: center;
}

caption {
	padding: 10px;
	caption-side: bottom;
}

.row {
	display: flex;
}

.col {
	flex: 1;
	padding: 1em;
	border: solid;
}

.search_button {
	background-color: rgba(71, 181, 43, 0.85);
	border-width: 0px;
	display: inline-block;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 19px;
	padding: 5px 9px 5px 8px;
	width: 120px;
	color: white;
}

.search_button:hover {
	background-color: rgba(71, 181, 43, 1);
}

.search_button:active {
	background-color: rgba(71, 181, 43, 1);
}

.username_in {
	background-color: white;
	border-color: lightgray;
	border-width: 1px;
	border-style: dashed;
	box-sizing: border-box;
	display: inline-block;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 400px;
}

.User_input{
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%); /* Décalage de 50 de sa propre taille */
}

body {
	margin: 0;
	outline: none;
	background-color: #dadada;
	font-family: sans-serif;
}

.summonerIcon {
	/*visibility: hidden;*/
	width: 200px;
	float: left;
	position: absolute;
	top: 70%;
}

.h1 {
	visibility: hidden;
}